<<<<<<< HEAD
footer {
    align-items: center;
    background-color: #0f0;
    bottom: 0;
    display: flex;
    height: 60px;
    justify-content: center;
    position: absolute;
=======
header {
    background-color: #FF0000;
    height: 70px;
>>>>>>> 5fceab98fe9560fe5d00f037ab628c8cfdf1f008
    width: 100%;
}
