<<<<<<< HEAD
header {
    background-color: #f00;
    height: 70px;
    width: 100%;
=======
footer {
    background-color: #00FF00;
    height: 60px;
    width: 100%;
    position: fixed;
    bottom: 0;
}
p {
    text-align: center;
    line-height: 30px;
>>>>>>> 5fceab98fe9560fe5d00f037ab628c8cfdf1f008
}
