body {
<<<<<<< HEAD
    color: #484848;
    font: 14px Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
    margin: 30px auto;
    max-width: 1000px;
}

strong {
    font-weight: bold;
=======
    margin: 0;
    padding: 0;
    color: #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.container {
    position: relative;
    max-width: 1000px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0 auto;
>>>>>>> 5fceab98fe9560fe5d00f037ab628c8cfdf1f008
}
